body {
    background: radial-gradient(50% 123%, #01163b 50%, #030d28 100%);
    padding: 2vh 2vw;
    box-sizing: border-box;
    color: white;
}

.content-box-title-icon {
    width: 0.3vw;
    height: 1.8vh;
    background: #3abef5;
    margin-right: 1.1vw;
}
.header-wrap {
    text-align: center;
}
