body {
    background: radial-gradient(50% 123%, #01163b 50%, #030d28 100%);
    padding: 2vh 2vw;
    height: 100%;
    box-sizing: border-box;
}
.content-box {
    position: relative;
    margin-top: 1.5vh;
    box-sizing: border-box;
    padding: 1.5vh 1vw;
}
.content-box-title {
    padding-bottom: 2vh;
}
.chart-wrap {
    height: 100%;
    width: 100%;
}
